.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;

  width: 100vw;
  height: 7vh;
  background-color: darkslategray;

  h1 {
    color: white;
  }
}
