.componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  gap: 20px;
}

.componente .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    background: darkslategray;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;

    h3 {
      color: white;
      margin: 0;
    }
  }

  button:disabled {
    background: dimgray;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.componente .table {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;

  gap: 1px;
  border: 2px solid darkslategray;
  background: darkslategray;
  border-radius: 8px;
  overflow: hidden;
}

.componente .table .cell,
.componente .table .cellButton,
.componente .table .header {
  background: darkseagreen;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px 12px;
  min-height: 40px;


}

.componente .table .header {
  background: darkslategray;

  h3 {
    color: white;
  }
}

.componente .table .cellButton {
  justify-content: end;
  background: darkseagreen;
  gap: 10px;

  button {
    border: none;
    border-radius: 8px;

  }

  button:hover {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .details {
    background: lightblue;
  }

  .details:hover,
  .details:disabled {
    background: mediumslateblue;
    color: lightgray !important;
  }

  .delete {
    background: indianred;
    color: white !important;
  }

  .delete:hover,
  .delete:disabled {
    background: darkred;
    color: lightgray !important;
  }
}

