<div class="componente">
  <div class="title">
    <h2>Tabela Torres</h2>

    <button (click)="openModalAddTorre()">
      <h3>+ ADICIONAR TORRE</h3>
    </button>
  </div>

  <div class="table">
    <div class="header">
      <h3>TORRE IP</h3>
    </div>
    <div class="header">
      <h3>LATITUDE</h3>
    </div>
    <div class="header">
      <h3>LONGITUDE</h3>
    </div>
    <div class="header">
      <h3>DIAS SEM CHUVA</h3>
    </div>
    <div class="header">
    </div>

    @if (torresSentinela.listaTorres().length > 0) {
      @for (torre of torresSentinela.listaTorres(); track $index) {
        <div class="cell">
          <p>{{torre.torreIP}}</p>
        </div>
        <div class="cell">
          <p>{{torre.latitude}}</p>
        </div>
        <div class="cell">
          <p>{{torre.longitude}}</p>
        </div>
        <div class="cell">
          <p>{{ torre.tempoSemChuva != null ? formatarDataSimples(torre.tempoSemChuva) : 'carregando...' }}</p>
        </div>
        <div class="cellButton">
          <button class="details" (click)="openModalDetailsTorre(torre)">
            <mat-icon aria-hidden="false" aria-label="Icon Delete" fontIcon="menu"></mat-icon>
          </button>
          <button class="delete" (click)="onClickRemoveTorre(torre.torreIP)">
            <mat-icon aria-hidden="false" aria-label="Icon Delete" fontIcon="delete"></mat-icon>
          </button>
        </div>
      }
    } @else {
      <div class="cell">
        <p>--</p>
      </div>
      <div class="cell">
        <p>--</p>
      </div>
      <div class="cell">
        <p>--</p>
      </div>
      <div class="cell">
        <p>--</p>
      </div>
      <div class="cellButton">
        <button class="details" disabled>
          <mat-icon aria-hidden="false" aria-label="Icon Delete" fontIcon="menu"></mat-icon>
        </button>
        <button class="delete" disabled>
          <mat-icon aria-hidden="false" aria-label="Icon Delete" fontIcon="delete"></mat-icon>
        </button>
      </div>
    }


  </div>
</div>
