<div class="overlay">
  <div class="modal">
    <div class="header">
      <h2>Detalhes da torre de IP {{ modalDetails.torre()?.torreIP }}</h2>

      <button (click)="onClose()">
        <mat-icon aria-hidden="false" aria-label="Icon Close" fontIcon="close"></mat-icon>
      </button>
    </div>

    <p>Monitorando desde {{ getDataAddString() }}, com um total de {{ getChuvas().length }} chuvas já registradas.</p>

    @if (detalhesTorre) {
      <div class="grafico-container">
        <h3>Chuvas detectadas</h3>

        @if (getChuvas().length === 0) {
          <p class="sem-dados">Nenhuma chuva registrada ainda.</p>
        } @else {
          <p class="sem-dados">{{ getChuvasRecentes().length }} chuvas mais recentes.</p>
          <div class="grafico-incendios">
            @for (chuva of getChuvasRecentes(); track chuva.data) {
              <div
                class="barra-incendio"
                [style.height.%]="getAlturaBarra(chuva.duracao)"
              >
                <h3>{{ formatarTempo(chuva.duracao) }}</h3>

                <div class="barra-cor">
                  <p>{{ formatarData(chuva.data) }}</p>
                </div>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
